<?xml version="1.0"?>
<robot name="simple_cube">
  <link name="cube_link">
    
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.02"/><inertia ixx="0.00003" ixy="0" ixz="0" iyy="0.00003" iyz="0" izz="0.00003"/>
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.07 0.07"/> </geometry>
      <material name="red">
        <color rgba="0.8 0.2 0.2 1.0"/> </material>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.07 0.07 0.07"/> </geometry>
    </collision>

  </link>
</robot>
